<div class="mx-auto w-25">
    <h3>Register</h3>
    <form class="border border-rounded p-3">
        <div class="mb-3">
            <input class="form-control" placeholder="Enter full name" name="fullName" />
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="Enter email" type="email" />
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="Enter contact no." type="number" />
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="Enter password" type="password" />
        </div>
        <div class="mb-3">
            <input class="form-control" type="submit" value="Register" class="btn btn-primary" />
        </div>
    </form>
</div>